<h2 id="ask-for-help">Deine Mithilfe ist gefragt!</h2>

<p>
  Leite die Einladung zur nächsten Party weiter und bringe Freunde mit ...
  <br>
  <sub><i>Distribute the party invitation and bring friends with ...</i></sub>
</p>

<!--
<div class="sharethis-inline-share-buttons"></div>
<br/>
<br/>
-->

<p>
  Falls du DJ bist und auflegen willst: <a href="/contact">Melde dich bei Chris</a> um eine gemeinsame Party zu organisieren ...
  <br>
  <sub><i>If you a DJ: <a href="/contact">Contact Chris</a> to organize a party together ...</i></sub>
</p>


