{% comment %}
  <!-- Show header navigation banner -->
  {% include event-v2-header-navigation-banner.html %}
{% endcomment %}

        <!--
          -
          - HEADER NAVIGATION BANNER
          -
          -->
        <nav id="header-banner"
          class="navbar fixed-top navbar-expand XXXnavbar-expand-sm navbar-dark bg-light XXXheader-banner-image-still">
          <video class="lazy banner-image-video" autoplay loop muted playsinline 
            poster="/images/gifer.com.Wt3J.7157f1fea0e67b3b1b6a2ec8c2be299f-720x60-still.png"
            preload="none"
            >
            <source data-src="/images/gifer.com.Wt3J.7157f1fea0e67b3b1b6a2ec8c2be299f-720x60.webm" type="video/webm">
            <source data-src="/images/gifer.com.Wt3J.7157f1fea0e67b3b1b6a2ec8c2be299f-720x60.mp4" type="video/mp4">
          </video>

            <!-- Toggler/collapsibe Button -->
            <!--
                      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      -->

            <!-- navigation menu -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <!-- <a class="navbar-brand" href="#">dance123</a> -->

              <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
              </ul>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/#events">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                <!--
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Details
                              </a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                              </div>
                          </li>
                          -->
              </ul>

            </div>

            <!--
                      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                      </div>
                      -->
          </div>
        </nav>

        <div id="header-banner-after"></div>
        <!-- END: HEADER NAVIGATION BANNER -->
