{% comment %}
  <!-- Show tips for guests of an event -->
  {% include event-v2-tips.html %}
{% endcomment %}

        <!--
          -
          - EVENT TIPS
          -
          -->

        <div class="container">
          <div class="row">
            <div class="col-12">

              <section>

                <!-- event hints -->
                <div class="lang-show-one">
                  <h2 class="lang1" lang="en">Tips</h2>
                  <h2 class="lang2" lang="de">Tipps</h2>
                <!--
                <div class="lang-show-one-or-all">
                  <h2 class="lang1" lang="en">Tips for Guests</h2>
                  <h2 class="lang2" lang="de">Tipps für Gäste</h2>
                -->
                </div>

                <div class="lang-show-one-or-all">
                  <p class="lang1" lang="en">Dance, drink, have fun ...
                  </p>
                  <p class="lang2" lang="de">Tanze, trinke, habe Spaß ...
                  </p>
                  
                  <p class="lang1" lang="en">
                    Celebrate easily and worldwide free of charge via website and Zoom video meeting ... with notebook,
                  tablet or mobile phone ... whether alone or with friends ... whether in the park, in the party room or at
                  home ...
                  </p>
                  <p class="lang2" lang="de">
                    Ganz einfach und weltweit kostenlos per Webseite und Zoom-Video-Konferenz mitfeiern ... mit Notebook,
                  Tablet oder Handy ... egal ob allein oder mit Freunden ... egal ob im Park, im Partykeller oder zu Hause ...
                  </p>

                  <p class="lang1" lang="en">Remember, the video party is on the Internet ...
                    cover your face if necessary, just show your feet or your dancing shadows
                    if you do not want to be recognized ...
                  </p>
                  <p class="lang2" lang="de">Denke daran, die Videoparty ist im Internet ...
                    verdecke ggf. dein Gesicht, zeige nur deine Füße oder deinen tanzenden Schatten,
                    falls du nicht erkannt werden willst ...
                  </p>

                  <p class="lang1" lang="en">If you are new to video meetings, then read
                    <a href="/faqs#how-to-join-zoom" target="_blank" style="white-space: nowrap;">How do I take part in a Zoom video party</a>
                    and
                    <a href="/faqs#hints" target="_blank" style="white-space: nowrap;">Notes for guests</a> ...
                  </p>
                  <p class="lang2" lang="de">Wenn du noch keine Video-Meeting-Erfahrung hast, dann lies 
                    <a href="/faqs#how-to-join-zoom-de" target="_blank" style="white-space: nowrap;">Wie nehme ich an einer Zoom-Video-Party teil</a>
                    und
                    <a href="/faqs#hints-de" target="_blank" style="white-space: nowrap;">Hinweise für Gäste</a> ...
                  </p>

                  <p class="lang1" lang="en">Problems or feedback: just write an email to <b>info </b><b>&commat;&nbsp;</b><b>dance123&#x2E;club</b> ...
                  </p>
                  <p class="lang2" lang="de">Probleme oder Feedback: schreibe einfach eine E-Mail an <b>info </b><b>&commat;&nbsp;</b><b>dance123&#x2E;club</b> ...
                  </p>
                </div>



                {% comment %}
                  <!-- OLD

                  <div class="lang-show-one-or-all">
                    <h2 class="lang1" lang="en">Tips for Guests</h2>
                    <div class="lang1" lang="en">
                    <ul>
                      <li>dance, drink, have fun ...</li>
                      <li>remember, the video party is on the Internet
                        <ul>
                          <li>Cover your face if necessary, just show your feet or your dancing shadows if you do not want to be recognized</li>
                        </ul>
                      </li>
                      <li>if you are new to video meetings, then read ...
                        <ul>
                          <li><a href="/faqs#how-to-join-zoom" target="_blank">How do I take part in a Zoom video party?</a></li>
                          <li> <a href="/faqs#hints" target="_blank">Notes for guests</a></li>
                        </ul>
                      </li>
                      <li><strong>Problems/Feedback:</strong> ... just write an <a href="/contact" target="_blank">email</a></li>
                    </ul>
                  </div>

                  <h2 class="lang2" lang="de">Tipps für Gäste</h2>
                  <div class="lang2" lang="de">
                    <ul>
                      <li>tanze, trinke, habe Spaß ...</li>
                      <li>denke daran, die Videoparty ist im Internet
                        <ul>
                          <li>verdecke ggf. dein Gesicht, zeige nur deine Füße oder deinen tanzenden Schatten, falls du nicht erkannt werden willst</li>
                        </ul>
                      </li>
                      <li>wenn du noch keine Video-Meeting-Erfahrung hast, dann lies ...
                        <ul>
                          <li><a href="/faqs#how-to-join-zoom-de" target="_blank">Wie nehme ich an einer Zoom-Video-Party teil?</a></li>
                          <li> <a href="/faqs#hints-de" target="_blank">Hinweise für Gäste</a></li>
                        </ul>
                      </li>
                      <li><strong>Probleme/Feedback:</strong> ... schreibe einfach eine <a href="/contact" target="_blank">E-Mail</a> ...</li>
                    </ul>
                  </div>
                -->
                {% endcomment %}

                          
                {% comment %}
                <!-- event hints (VERY OLD) -->                                

                  <!--
                    <h2 id="wie-für-schnellstarter-">Quick Start</h1>
                    <p><sub>Eine detaillierte Beschreibung findest du im separaten Abschnitt weiter unten.</sub>

                    <ul>
                      <li>
                        <a href="/video" target="_blank" style="font-size: 150%; font-weight: bold;">Zoom-Video-Meeting</a>
                        <ul>
                          <li>aktiviere dein Video <sup><sub>(falls nicht bereits passiert)</sub></sup></li>
                          <li>aktiviere dein Audio <sup><sub>(außer, du benutzt den High-Quality-Music-Livestream)</sub></sup></li>
                        </ul>
                      </li>
                    </ul>

                    <ul>
                      <li><a href="/audio" target="_blank" style="font-size: 100%; font-weight: bold;">High-Quality-Music-Livestream</a> (optional):
                        <ul>
                          <li>bessere Musik-Qualität als in Zoom</li>
                        </ul>
                      </li>
                    </ul>
                  -->


                <!-- event hints (OLD)                               

                  {% include hints.html %}

                  {% include wie-im-detail.html %}
                   --> 
                {% endcomment %}

              </section>
        
            </div>
          </div>
        </div>

        <!-- END: EVENT TIPS -->
