<h2 id="hints">Hinweise</h2>

<ul>
  <li>tanze, trinke, habe Spaß ... erfahre von <a href="/#events">zukünftigen Parties per E-Mail</a> :-)</li>
  <li>die Videokonferenz ist öffentlich im Internet
    <ul>
      <li>verdecke ggf. dein Gesicht, zeige nur deine Füße oder deinen tanzenden Schatten, falls du nicht erkannt werden willst</li>
    </ul>
  </li>
  <li>du kannst mehrere Geräte gleichzeitig benutzen, z.B.
    <ul>
      <li>ein Tablet/Notebook/PC für Zoom für die Videos und den Chat</li>
      <li>zusätzliche ein Handy für die Musik mit Kopfhörern oder für ein zweites Video von dir - ja, du kannst dich mehrfach/mit mehreren Geräten zur Zoom-Konferenz verbinden</li>
    </ul>
  </li>
  <li><strong>Probleme/Feedback:</strong> ... einfach Chris fragen per WhatsApp oder Telefon ...
      oder schreibe eine <a href="/contact">E-Mail</a> ...</li>
</ul>
