<style>
    .media-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 120px;
        width: 120px;
    }
</style>


<h2>Die nächsten deutschsprachigen Partys</h2>
<!--
<p>... folgen bald. Abboniere den Newsletter, um mehr zu erfahren.
</p>
-->

<div class="container-fluid">
  <div class="row">

    <div class="col-12">
        <div class="media">
          <div class="media-image mr-3" style="background-image: url('/event-images/dance123_ndw_party_plain_960x540.jpg');"> 
          </div>
          <div class="media-body my-auto">
            <h5 class="mt-0">Neue Deutsche Welle Party - Zoom Video Dance Party</h5>
            <!--
            <p>29. Oktober 2022</p>
            -->
            <a href="/events/neue-deutsche-welle-video-dance-zoom-party-next003" class="stretched-link">Details</a>
          </div>
        </div>
    </div>


   <!--
    <div class="col-12">
        <div class="media">
          <div class="media-image mr-3" style="background-image: url('/event-images/schlager-fasching-910x512.jpg');"> 
          </div>
          <div class="media-body my-auto">
            <h5 class="mt-0">Deutscher-Schlagerfasching - Zoom Online Tanzparty</h5>
            <p>13. Februar 2021</p>
            <a href="/events/deutscher-schlagerfasching-video-dance-zoom-party-2021-02-13" class="stretched-link">Details</a>
          </div>
        </div>
    </div>
 
    <div class="col-12">
        <div class="media">
          <div class="media-image mr-3" style="background-image: url('/event-images/dance123_ndw_party_plain_960x540.jpg');"> 
          </div>
          <div class="media-body my-auto">
            <h5 class="mt-0">Neue Deutsche Welle - Zoom Online Tanzparty</h5>
            <p>19. Juni 2021</p>
            <a href="/events/neue-deutsche-welle-online-tanzparty-2021-06-19" class="stretched-link">Details</a>
          </div>
        </div>
    </div>
       
    <div class="col-12">
        <div class="media">
          <div class="media-image mr-3" style="background-image: url('/event-images/deutschlandfahne_gemalt_1920x1080_smaller.jpg');"> 
          </div>
          <div class="media-body my-auto">
            <h5 class="mt-0">Made in Germany: Deutsch-Pop/Schlager/Neue Deutsche Welle - Zoom Online Tanzparty</h5>
            <p>2. Oktober 2021</p>
            <a href="/events/made-in-germany-video-dance-zoom-party-2021-10-02" class="stretched-link">Details</a>
          </div>
        </div>
    </div>
  
     -->
 
  
<!--
    <div class="col-12">
        <div class="media">
          <div class="media-image mr-3" style="background-image: url('/event-images/schlager-fasching-910x512.jpg');"> 
          </div>
          <div class="media-body my-auto">
            <h5 class="mt-0">Deutscher-Schlagerfasching - Zoom Online Tanzparty</h5>
            <p>13. Februar 2021</p>
            <a href="/events/deutscher-schlagerfasching-video-dance-zoom-party-2021-02-13" class="stretched-link">Details</a>
          </div>
        </div>
    </div>

    <div class="col-12">
        <div class="media">
          <div class="media-image mr-3" style="background-image: url('/event-images/dance123_ndw_party_plain_960x540.jpg');"> 
          </div>
          <div class="media-body my-auto">
            <h5 class="mt-0">Neue Deutsche Welle - Zoom Online Tanzparty</h5>
            <p>19. Juni 2021</p>
            <a href="/events/neue-deutsche-welle-online-tanzparty-2021-06-19" class="stretched-link">Details</a>
          </div>
        </div>
        
        <br>
    </div>
    
    -->

  </div>
</div>

<br>
<br>

{% include collect_email_form.html %}

<br>
<br>


