  <h2 id="wie-im-detail-">Wie nehme ich an einer Zoom-Party teil?</h2>
  <ul>
    <li>nutze möglichst WLAN, vermeide teures mobiles Internet
      <!--
      <ul>
        <li>da sehr viel Datenvolumen benutzt wird</li>
      </ul>
      -->
    </li>
    <li>verbinde dich zum Zoom-Video-Meeting/zur Party:
      <ul>
        <li>falls du Zoom zum ersten Mal benutzt:
          <ul>
            <li>schaue dir an: <a href="https://www.youtube.com/watch?v=hxa9wip7AvM" target="_blank">Zoom Meeting Anleitung (3 min YouTube-Video)</a></li>
            <li>teste vorab ein Zoom-Video-Meeting:
              <ul>
                <li><a href="https://us04web.zoom.us/test" target="_blank">Zoom Meeting Test</a> - dort kannst du jederzeit starten und dein eigenes Video testen</li>
            </ul>
          </li>

          </ul>
        </li>
        <li>zum Meeting-Start klicke den obigen blauen Zoom-Meeting Button und folge den Anweisungen:
          <ul>
            <li>funktioniert auf Handy+Tablet (iOS/Android) und Notebooks/PCs (MacOS/Windows)</li>
            <li>eventuell benötigte App (falls du Zoom zum ersten Mal benutzt) wird installiert</li>
            <li>ist komplett kostenlos für dich</li>
          </ul>
        </li>
        <li>trete dem Zoom-Video-Meeting bei
          <ul>
            <li>falls du nach der Installation der App nicht automatisch dorthin gelangst, so komme hierher zurück und klicke den obigen Zoom-Meeting-Link erneut</li>
          </ul>
        </li>
        <li>wähle den Namen, unter dem die anderen Gäste dich sehen</li>
        <li>aktiviere dein Video/deine Web-Camera mit “Video starten”, falls noch nicht passiert</li>
        <li>aktiviere dein Audio mit “An Audio teilnehmen”, um die Musik zu hören
          <ul>
            <li>selbst sprechen kannst du auf diesem Dancefloor nicht, aber chatten</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>gut zu wissen:
      <ul>
        <li>du kannst das Zoom-Video-Meeting jederzeit beenden und später wieder neu starten</li>
        <li>in Zoom kannst auch chatten
          <ul>
            <li>entweder schreibst du öffentlich allen Gästen</li>
            <li>oder du chattest privat mit einzelnen Teilnehmern</li>
          </ul>
        </li>
      </ul>
    </li>
    <!--
    <li>zusätzlich optional/nur für Fortgeschrittene - nur für bessere Musik-Qualität:
      <ul>
        <li>höre den <a href="/audio" target="_blank" style="font-size: 100%; font-weight: bold;">High-Quality-Music-Livestream</a></li>
        <li>klicke einfach den Link an</li>
        <li>schalte in Zoom das Audio ab - sonst hörst du die Musik doppelt</li>
        <li>teste vorab einen Music-Livestream:
          <ul>
            <li><a href="https://www.twitch.tv/nocopyrightsounds" target="_blank">Music Stream Test</a> - dort solltest du jederzeit Musik hören</li>
          </ul>
        </li>
      </ul>
    </li>
    -->
  </ul>


